/* remove default browser spacing*/
* {
  margin: 0px;
  padding: 0px;
}

.title {
  color: purple;
  background-color: bisque;
  width: fit-content;
  border: solid palevioletred;
}

body {
  font-family: Arial, sans-serif;
  background-color: azure;
}

.myform {
  background-color: blanchedalmond;
  padding: 25px 40px;
  border-radius: 50px;
  border: solid palevioletred;
}
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
label {
  color: purple;
  margin-bottom: 5px;
  width: 100vh;
  display: block;
  font: bold;
  margin-top: 5px;
}
input {
  width: 100%;
  /* color: azure; */
  width: 50%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid palevioletred;
}

button {
  align-self: center;
  padding: 10px 20px;
  border: 0.5px solid purple;
  border-radius: 15px;
  background-color: azure;
  color: black;
  cursor: pointer;
  margin-top: 20px;
  width: 50%;
}

button:hover {
  background-color: palevioletred;
  transform: scale(1.1);
}
